.rc-slider-track {
    background-color: #007bff;
}

.rc-slider-dot-active {
    border-color: #007bff;
}

.rc-slider-handle {
    background-color: #007bff;
    border-color: #007bff;
}

.rc.slider-handle:hover {
    border-color: #007bff;
}

.rc.slider-handle-active:active {
    border-color: #007bff;
}

.dash-spreadsheet-container table {
    --accent: #ffffff !important;
    --selected-background: #007bff !important;
    --selected-color: #ffffff !important;
}